i[Unit]
Description=My Custom Service
#After=network.target

[Service]
Type=simple
User=iot-proj
WorkingDirectory=/home/iot-proj/IOT-project--Smart-Speaker/Main
# Path to the executable or script. MUST use absolute paths.
ExecStart=/home/iot-proj/IOT-project--Smart-Speaker/Main/main.py
Restart=on-failure
RestartSec=10
[Install]
WantedBy=multi-user.target
