[Unit]
Description=Smart Speaker Hardware Controller
After=smart_speaker_server.service mopidy.service
Requires=smart_speaker_server.service
Wants=mopidy.service

[Service]
Type=simple
User=iot-proj
WorkingDirectory=/home/iot-proj/IOT-project--Smart-Speaker/Main
ExecStart=/home/iot-proj/IOT-project--Smart-Speaker/venv/bin/python main.py
Restart=on-failure
RestartSec=5

# Logging
# View with: journalctl -u smart_speaker -f  OR  tail -f /var/log/smart_speaker.log
StandardOutput=append:/var/log/smart_speaker.log
StandardError=append:/var/log/smart_speaker.log

# Environment
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
